:root {
  --primary-0: #ffc107;

  --primary-1: #fff8e1;

  --primary-2: #ffecb3;

  --primary-3: #ffe082;

  --primary-4: #ffd54f;

  --primary-5: #ffca28;

  --primary-6: #ffc107;

  --primary-7: #ffb300;

  --primary-8: #ffa000;

  --primary-9: #ff8f00;

  --primary-10: #ff6f00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--primary-1);
}

a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
