:root {
  --primary-0: #ffc107;

  --primary-1: #fff8e1;

  --primary-2: #ffecb3;

  --primary-3: #ffe082;

  --primary-4: #ffd54f;

  --primary-5: #ffca28;

  --primary-6: #ffc107;

  --primary-7: #ffb300;

  --primary-8: #ffa000;

  --primary-9: #ff8f00;

  --primary-10: #ff6f00;

  --first: #0c0c0c;
  --first-tint: #1c1c1c;
  --second-orange: #523512;
  --second: #190e00;
  --third: #ff8e01;
  --third-dark: #854d06;
  --fourth: #ffaf00;
  --fourth-dark: #855d06;
  --fifth: #ffe280;
  --fifth-dark: #857709;
  --sixth: #bfbfbf;
  --sixth-off: #9a9a9a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--second);
  overflow-x: hidden;
  font-family: "DM Mono", monospace;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--first);
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}
