.link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 1.2rem 3.6rem;
  font-size: 3.6rem;
  background-color: var(--first);
  color: var(--primary-1);
  border-radius: 10px;

  transition: all 0.2s;
}

.link:hover {
  background-color: var(--primary-9);
  color: var(--primary-2);
}

.home {
  /* margin-top: 80px; */
  padding-top: 80px;
  /* overflow-y: hidden; */
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
}

.background {
  /* position: absolute; */
  background-position: 50% 50%;
  background-size: cover;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("../public/assets/images/hobby/public.jpg");
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  mask-image: radial-gradient(circle, white 20%, transparent 70%);
  border-radius: 20px;
  height: 100%;
  width: 50vw;
  animation: blur;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  /* transition: all 0.1s linear; */
}

@keyframes blur {
  0% {
    transform: translateX(-50%) scale(1.5);
    background-position: 20% 20%;
    filter: blur(5px);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }

  100% {
    transform: translateX(0) scale(1);
    filter: blur(0px);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}

.title {
  display: inline;
  font-size: 9.8rem;
  /* color: var(--quartenary); */
  /* color: var(--tertiary/); */
  text-align: left;
  transform: translate(50px, 20px);
  letter-spacing: 2px;

  /* background-image: linear-gradient(
    to right,
    var(--tertiary) 0%,
    var(--quartenary) 50%,
    var(--tertiary) 100%
    ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.center {
  padding: 6.4rem;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.makeLefty {
  display: inline-block;
  transform: rotateY(-180deg);
}
.secondaryTitle {
  display: inline-block;
  color: var(--h2);
}
.titleBox {
  animation: fade-in;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.64, 0.09, 1, 0.07);
  /* margin-top: 4.2rem; */
  /* padding-left: 6.4rem; */
  /* padding-top: 9rem; */
  font-size: 3.6rem;
  color: var(--h2);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: translateY(7px);
  }
  to {
    transform: translateY(-7px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.absolute {
  width: 150px;
  height: 150px;
  position: absolute;
  background-size: cover;
  background-position: center;
  animation-name: rotate, fade-in;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear;
  transition-timing-function: linear;
  opacity: 0.75;
  transition: all 0.5s;
}
.absolute:hover {
  opacity: 1;
}

/* 700em */
@media (max-width: 44em) {
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .background {
    width: 100vw;
    height: 50vh;
  }

  .center {
    padding: 3.2rem;
  }
}
