.link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 1.2rem 3.6rem;
  font-size: 3.6rem;
  background-color: var(--primary-10);
  color: var(--primary-1);
  border-radius: 10px;

  transition: all 0.2s;
}

.link:hover {
  background-color: var(--primary-9);
  color: var(--primary-2);
}
