.postsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.postFigure {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  height: 100%;
  height: 50vh;
  cursor: pointer;
  color: var(--sixth);

  transition: opacity 800ms ease, background-size 800ms ease, color 800ms ease;

  background-position: 0% 0%, 0% 0%, 50% 10%;
  background-size: 20vmin 20vmin, 100% 100%, cover;
  grid-column: span 3;
}

.postFigure[data-topic="morningroutine"] {
  background-image: repeating-linear-gradient(
      45deg,
      #49494905 0,
      #494949 2px,
      transparent 0,
      transparent 50%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/morning-sun.jpg");
}

.postFigure[data-topic="coding"] {
  background-image: repeating-linear-gradient(
      45deg,
      #49494905 0,
      #494949 2px,
      transparent 0,
      transparent 50%
    ),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/coding.jpg");
}
.postFigure[data-topic="nature"] {
  background-image: repeating-linear-gradient(
      45deg,
      #49494905 0,
      #494949 2px,
      transparent 0,
      transparent 50%
    ),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/rose.jpg");
}

.postFigure:hover {
  color: var(--sixth);
  background-position: 0% 0%, center, 50% 50%;
  background-size: 12vmin 12vmin, 100% 100%, cover;
  /* opacity: 0.5; */
}
.topicTitle {
  font-size: 6.4rem;
  text-align: center;
  color: var(--primary-10);
}
.postTitle {
  color: var(--primary-10);
}

.linkVisibility {
  color: var(--second-orange);
}

.pageName {
  color: var(--sixth-off);
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  font-style: italic;
}
