.nav {
  height: 80px;
  padding: 1.2rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: var(--p);
  z-index: 1;
  position: relative;
  background: none;
  position: absolute;
  width: 100%;
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
}

.content {
  font-size: 2.4rem;
}

.ol {
  display: flex;
  font-size: 2rem;
  list-style: none;
  gap: 4rem;
}

.h3 {
  cursor: pointer;
}

.li {
  position: relative;
}

.modal {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 600%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}
