.nav {
  height: 80px;
  padding: 1.2rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  background-image: linear-gradient(to top, var(--first), var(--first-tint));
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.4);
  color: var(--sixth);
  z-index: 1;
  position: relative;
}

.content {
  font-size: 4rem;
}

.ol {
  display: flex;
  font-size: 2.4rem;
  list-style: none;
  gap: 4rem;
}

.h3 {
  cursor: pointer;
}

.li {
  position: relative;
}

.modal {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 600%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}
