.postPic {
  width: 100%;
  height: 500px;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.postTitle {
  font-size: 6.4rem;
  /* position: absolute; */
  color: var(--sixth);
  text-align: center;
  margin: 6rem 0;
  position: relative;
}

.pageName {
  position: absolute;
  top: 3%;
  left: 50%;
  color: var(--sixth-off);
  transform: translateX(-50%);
  z-index: 9;
}
.date {
  font-size: 2.4rem;
  color: var(--sixth-off);
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.postBody {
  font-size: 3rem;
  line-height: 1.5;
  color: var(--sixth-off);
  word-break: break-all;
}

.update {
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--sixth);
  padding: 1.2rem 2.4rem;
  color: var(--sixth);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 10px;
}
.update svg path {
  transition: all 0.5s;
  transform-origin: center center;
}
.update:hover svg path {
  transform: rotate(180deg);
}
.update svg {
  color: var(--sixth);
  width: 24px;
  height: 24px;
}
.delete {
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--sixth);
  padding: 1.2rem 2.4rem;
  color: var(--sixth);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 10px;
}
.delete svg path {
  transition: all 0.5s;
  transform-origin: center center;
}
.delete:hover svg path {
  transform: rotate(180deg);
}
.delete svg {
  color: var(--sixth);
  width: 24px;
  height: 24px;
}

.deletePage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--sixth);
  padding: 2.4rem;
  background-color: var(--first);
  /* width: 100px; */
  /* height: 100px; */
  border-radius: 10px;
}
.deletePage p {
  font-size: 2.4rem;
}
.deletePage div {
  display: flex;
  justify-content: space-between;
}
.confirmDelete,
.confirmNo {
  background-color: transparent;
  color: var(--sixth);
  border: 2px solid var(--sixth);
  padding: 1.2rem;
  border-radius: 4px;
  margin-top: 2.4rem;
  cursor: pointer;
}
